.form-group label {
    text-align: right;
}
textarea {
    width: 100%;
    min-height: 130px;
}

#results h3 {
    text-transform: capitalize;
}

#reset {
    display: none;
    margin-top: -3px;
}

#refresh {
    display: none;
}

footer {
    color: #FAFAFA;
    background-color: #5a6268;
    padding: 25px 15px 15px;
}
footer a {
    color: inherit;
}

/* fix for button groups not breaking on smaller screens */
.btn-group {
    display: inline;
}
.btn-group button {
    border-radius: 0;
}
.btn-group .btn + .btn {
    margin-left: 0px;
}
