textarea {
    width: 100%;
    min-height: 130px;
}

h2 button.btn {
    display: none;
    margin-top: -3px;
}

.row > label {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

footer {
    color: #FAFAFA;
    background-color: #5a6268;
    padding: 25px 15px 15px;
}
footer a {
    color: inherit;
}

#results h3 {
    text-transform: capitalize;
}

/* fix for button groups not breaking on smaller screens */
.btn-group {
    display: inline;
}
.btn-group button {
    border-radius: 0;
}
.btn-group .btn + .btn {
    margin-left: 0px;
}
